/*  ------------- overwrite minit ui default css ------------ */
.mint-spinner-snake {
  border: 2px solid transparent !important;
  border-top-color: rgb(204, 204, 204) !important;
  border-left-color: rgb(204, 204, 204) !important;
  border-bottom-color: rgb(204, 204, 204) !important;
}
.mint-indicator-wrapper {
  z-index: 9999 !important;
}